

body {



}

aside div {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=)";

  /* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=);*/
box-shadow: 20px 0px 0px 25px rgb(31,61,31,.9);/* horizontal , vertical, blur, rgb */
box-shadow: -20px 0px 0px 25px rgb(31,61,31,.9);/*the second box shadow*/

}
/* number 3 div element nested within the aside element*/
aside div{
    opacity: 75%;
    box-shadow: 5px 5px 10px rgb(101,101,101,.7);/*horizontal, vertical,blur, rgb(rgb, opacity)*/
}


